$colores:(
    colorPrimario: rgb(44, 150, 118),
    colorSecundario: rgb(222, 255, 200),
    borde: 3px solid rgb(15, 134, 35),
);
$botones:(
    botonNaturales: rgb(41, 187, 12),
    botonBarnizadas: rgb(164, 241, 75),
    botonDoradas: rgb(255, 237, 79),
)