
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
} 
@import "variables.scss";
@import "estilos.scss";

.btn{
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    text-align: center;
}
@each $key , $var in $botones {
    .btn-#{$key}{
        @extend .btn;
        background-color: $var;
    }
} 
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}