@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px auto auto 60px;
  grid-template-areas: "navbar navbar navbar navbar" "header header header header" "main main main main" "footer footer footer footer";
}

.navbar {
  grid-area: navbar;
  background-color: rgb(44, 150, 118);
}

.header {
  grid-area: header;
  text-align: center;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  background-position: center;
}
.banner .textoBanner {
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.main {
  grid-area: main;
}

img.logoRed {
  width: 50px;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h3 {
  text-align: center;
}

.trabajos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.trabajos img {
  width: 300px;
  margin: 30px;
  border: 3px solid rgb(15, 134, 35);
  border-radius: 8px;
}

h4 {
  text-align: center;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redes a img {
  width: 50px;
}

.botonHov {
  color: white;
}

.botonHov:hover {
  background-color: rgb(163, 206, 122);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cards .cardInd {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
}
.cards .cardInd .cardImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards .cardInd .cardImg img {
  width: 70%;
  height: 350px;
  border: 3px solid rgb(15, 134, 35);
  border-radius: 8px;
}
.cards .cardInd .cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  text-align: center;
}
.cards .cardInd .cardInfo .cardInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .cardInd .cardInfo .cardInputs input {
  margin: 4px;
  width: 50%;
}

.formContacto {
  background-color: rgb(44, 150, 118);
  border-radius: 15px;
  color: #fff;
}

.personas {
  display: flex;
  flex-direction: column;
}
.personas .persona {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.retrato {
  height: 100%;
  border: 3px solid rgb(15, 134, 35);
  border-radius: 8px;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videos iframe {
  width: 90%;
  height: 400px;
  margin: 30px;
  border: 3px solid rgb(15, 134, 35);
  border-radius: 8px;
}
.videos .instagramVideo {
  margin-bottom: 50px;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ubicacion .ubiInfo {
  margin: 10px;
}
.ubicacion .ubiInfo h3 {
  margin: 0;
}

.fotoReferencia {
  width: 70%;
}
.fotoReferencia img {
  width: 100%;
  border: 3px solid rgb(15, 134, 35);
  border-radius: 8px;
}

.mapa {
  border: 3px solid rgb(15, 134, 35);
  border-radius: 5px;
}
.mapa iframe {
  width: 100%;
}

@media (min-width: 768px) {
  .logo img {
    width: 45px;
  }
  .navbar ul li {
    font-size: 16px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }
  .cards .cardInd {
    margin: 10px;
    width: 30%;
  }
  .cards .cardInd .cardImg {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .personas {
    display: flex;
    flex-direction: row;
  }
  .videos iframe {
    width: 50%;
    height: 500px;
  }
  .trabajos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .trabajos img {
    width: 500px;
    margin: 30px;
    border: 3px solid rgb(15, 134, 35);
    border-radius: 8px;
  }
}
.btn, .btn-botonDoradas, .btn-botonBarnizadas, .btn-botonNaturales {
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  text-align: center;
}

.btn-botonNaturales {
  background-color: rgb(41, 187, 12);
}

.btn-botonBarnizadas {
  background-color: rgb(164, 241, 75);
}

.btn-botonDoradas {
  background-color: rgb(255, 237, 79);
}